## Agenda: Building Modules

#### Actually we have already worked with modules. Do you remember importing pandas and working with it?

Yes, I do actually. It made my life so simple

#### But have you thought how did pandas do that ? Can we create our own such thing?

Sure, but how do we go about doing that?

#### By creating a module

#### Simply put, a module is a file that has python code in it and you can access those code by doing the import 

#### So, when you say "import pandas as pd", all you are saying is ,"there is file called pandas somewhere around and you want to import all the lines of code in that pandas.py file and you will access it through that alias called pd".

#### So, lets start our module building process

##### For that, first lets open up a notebook and write a simple command

In [1]:
import hello as h

In [2]:
h.message

'hello jim'

#### Now if you went ahead and made some changes to the original text file and came back to python and called the module, you will not get any new result i.e you shall still be getting "hello jim".

Why is this so?

#### Well, simply put, python is just being too clever. In other words, it knows that normally modules do not get changed as much and it has already been trained (by default) to load the original things as it is.

Alright, normally this way of thinking by python is fine i guess but in our case, we need it to update the module constantly. So, what is the solution?

#### Solution is the following:

##### We need acess to an extension which helps in automatic reloading. The name of the extension is "autoreload".
##### So, first we have to load that extension and that loading is done through a magic command

In [3]:
# Magic command is anything that starts with a percentage
#load_ext is a magic command

%load_ext autoreload

In [4]:
# The autoreload extension operates through various modes. We require mode 2

%autoreload 2

#### Now, lets go back to the text file and make a change and see whether we get an updated version of the output

In [7]:
h.message

'hello jim and jane'

#### And viola, we get the updated version

#### Now, lets start creating an actual module

In [1]:
import pandas as pd
import analysis_kit as ak

In [2]:
import os
os.getcwd()

'C:\\Users\\user\\Documents\\Coursera'

In [3]:
os.chdir("C:\\Users\\user\\Documents\\Coursera\\data")

In [4]:
# Magic command is anything that starts with a percentage
#load_ext is a magic command

%load_ext autoreload

In [5]:
# The autoreload extension operates through various modes. We require mode 2

%autoreload 2

In [6]:
returns=ak.get_ffme_returns()

In [8]:
returns.head()

         SmallCap  LargeCap
1926-07   -0.0145    0.0329
1926-08    0.0512    0.0370
1926-09    0.0093    0.0067
1926-10   -0.0484   -0.0243
1926-11   -0.0078    0.0270

In [9]:
ak.drawdown(returns["SmallCap"])

               Wealth         Peaks  Drawdown
1926-07  9.855000e+02  9.855000e+02  0.000000
1926-08  1.035958e+03  1.035958e+03  0.000000
1926-09  1.045592e+03  1.045592e+03  0.000000
1926-10  9.949854e+02  1.045592e+03 -0.048400
1926-11  9.872245e+02  1.045592e+03 -0.055822
...               ...           ...       ...
2018-08  2.298938e+09  2.298938e+09  0.000000
2018-09  2.260316e+09  2.298938e+09 -0.016800
2018-10  2.033832e+09  2.298938e+09 -0.115317
2018-11  1.959597e+09  2.298938e+09 -0.147608
2018-12  1.659583e+09  2.298938e+09 -0.278109

[1110 rows x 3 columns]

#### If you only want the drawdown column, simply do this:

In [10]:
ak.drawdown(returns["SmallCap"])["Drawdown"]

1926-07    0.000000
1926-08    0.000000
1926-09    0.000000
1926-10   -0.048400
1926-11   -0.055822
             ...
2018-08    0.000000
2018-09   -0.016800
2018-10   -0.115317
2018-11   -0.147608
2018-12   -0.278109
Freq: M, Name: Drawdown, Length: 1110, dtype: float64

#### SImilarly, if you want to know the largest drawdown in the Small cap portfolio:

In [11]:
ak.drawdown(returns["SmallCap"])["Drawdown"].min()

-0.8330007793945303